@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "./dashboard.scss";
@import "./vars.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0; overflow: hidden;
}
canvas {
  display: block;
}

button {
  font-family: $font;
  outline: none;
  background-color: transparent;
  color: $primary-color;
  border-radius: 5px;
  transition: 250ms all;
}
button:hover {
  background-color: $primary-color;
  color: $secondary-color;
}

#dash-button {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  padding: 0.25em;
  font-size: 1.5rem;
  border: 1px solid $primary-color;
}

#room-id {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.25em;
  font-size: 1.5rem;
  border: 1px solid $primary-color;
}

#app {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $bg;
}

#app div {
  font-family: $font;
}
