@import "./vars.scss";
@import "./dashboard.scss";
@import "./student-ui.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0; overflow: hidden;
}
canvas {
  display: block;
}

#dash-button {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  @include button-theme($primary-color, $secondary-color);
}

#room-id {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.25em;
  font-size: 1.5rem;
  border: 1px solid $primary-color;
}

#interaction-prompt {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -0%);
  padding: 0.25em;
  font-size: 1.5rem;
  border: 1px solid $primary-color;
  border-radius: 5px;
  background: black;
  color: white;
  opacity: 0.3;
  animation: blinking 2s infinite;
  display: none;
}
@keyframes blinking{
  0% { opacity: 0.3 }
  50% { opacity: 1 }
  100% { opacity: 0.3 }
}

#app, #app-tmp {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $bg;
  font-family: $font;
}

#title {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

#name-container {
  width: 100%;
  text-align: center;
}

#createRoom-container {
  width: 100%;
  text-align: center;
}

#or-container {
  text-align: center;
}

#joinRoom-container {
  width: 100%;
  text-align: center;
}

#name-header {
  text-align: center;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
