@import "./vars.scss";
@import "./dashboard.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0; overflow: hidden;
}
canvas {
  display: block;
}

#dash-button {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  @include button-theme($primary-color, $secondary-color);
}

#room-id {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.25em;
  font-size: 1.5rem;
  border: 1px solid $primary-color;
}

#app, #app-tmp {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $bg;
  font-family: $font;
}
